body {
  box-sizing: border-box;
  margin: 0;
  padding: 3%;
}
h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
.image_container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3%;
}
.imageComponent {
  width: 15%;
  padding: 1%;
  height: 15%;
}
.thumbnail {
  height: 100%;
  width: 100%;
}

.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 10%;
}
.modalContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  overflow: auto;
  width: 70%;
  height: 70vh;
  margin-left: 10%;
  margin-bottom: 10%;
  padding: 5%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.modalContent h1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.modalContent input {
  margin-top: 2%;
}
.closeSymbol {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  font-size: 300%;
}
.titleAndInput {
  padding-left: 3%;
}
